@font-face {
    font-family: "Ubuntu","sans-serif";
    src: url("./font/Ubuntu-B.ttf")format("truetype");
    src: url("./font/Ubuntu-R.ttf")format("truetype");
    src: url("./font/UbuntuMono-B.ttf")format("truetype");
    src: url("./font/UbuntuMono-R.ttf")format("truetype");
}
body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}
.wrapper {
  max-width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.wrapper > * {
  color: black;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
}

.header, .footer {
  grid-column: 1 / -1;
  clear: both;
}
.header ul {
    list-style-type: none;
    border-bottom: black solid 2px;
    margin-top: 1em;
    padding: 0;
    display: flex;
    text-align: center;
}
.header ul li {
    display: inline;
    flex-grow: 1;
    min-width: 0;
    padding-bottom: 1em;
}

.header ul li a {
    color: black;
    font-size: 1.7em;
    text-decoration: none;
}
.header ul li a:hover {
    color: #ff7d00;
    text-underline-offset: 0.3em;
    text-decoration: underline;
}
.footer ul {
    list-style-type: none;
    border-top: black solid 2px;
    margin-top: 1em;
    padding: 15px 0 0 0;
    display: flex;
    text-align: center;
}
.footer ul li {
    display: inline;
    flex-grow: 1;
    min-width: 0;
    padding-bottom: 1em;
}

.footer ul li a {
    color: black;
    font-size: 1.7em;
    text-decoration: none;
}
.footer ul li a:hover {
    color: #ff7d00;
    text-underline-offset: 0.3em;
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.content {
}
