{% extends "base.html" %}

{% block content %}
    <h1>Upload</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {{ upload_form.hidden_tag() }}
        <p>
            {{ upload_form.backup_files.label }}<br>
            {{ upload_form.backup_files }}<br>
            {% for error in upload_form.backup_files.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ upload_form.submit() }}</p>
    </form>
    <hr>
    <h1>SyncThing Backup</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {{ sync_backup_form.hidden_tag() }}
        <p>{{ sync_backup_form.submit() }}</p>
    </form>
{% endblock %}