<!doctype html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        {% if title %}
            <title>{{ title }} - Skarabäus</title>
        {% else %}
            <title>Skarabäus</title>
        {% endif %}
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        {% include 'nav.html' %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        {% include 'footer.html' %}
    </body>
</html>
