{% extends "base.html" %}

{% block content %}
    <h1>Device Actions</h1>
    <form action="" method="post">
        {{ reboot_form.hidden_tag() }}
        <p>{{ reboot_form.submit() }}</p>
    </form>
    <form action="" method="post">
        {{ shutdown_form.hidden_tag() }}
        <p>{{ shutdown_form.submit() }}</p>
    </form>
    <h1>Tasks</h1>
    <table>
        <tr>
            <th>id</th>
            <th>func_name</th>
            <th>created at</th>
            <th>started at</th>
            <th>finished</th>
            <th>result</th>
        </tr>
    {% for task in tasks %}
        <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.func_name }}</td>
            <td>{{ task.created_at }}</td>
            <td>{{ task.started_at }}</td>
            <td>{{ task.is_finished }}</td>
            <td>{{ task.result }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}