<div class="wrapper">
    <div class="footer">
        <ul>
            <li><a href="">infos / documentation</a></li>
            <li><a href="">imprint</a></li>
            <li><a href="">support</a></li>
        </ul>
    </div>
</div>
