
<div class="wrapper">
    <nav class="header">
        <ul>
            <li><a href="{{ url_for('main.sync') }}">sync</a></li>
            <li><a href="{{ url_for('main.backup') }}">backup</a></li>
            <li><a href="{{ url_for('main.restore') }}">restore</a></li>
            <li><a href="{{ url_for('main.device') }}">device</a></li>
            <li><a href="{{ url_for('main.account') }}">account</a></li>
        </ul>
    </nav>
</div>
