{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=64) }}<br>
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        {% if password %}
            <p style="color: #ff7d00">{{ password }}</p>
            <p>This is your main password. Losing it, means losing your backup!</p>
            <p>Write it on two pieces of paper and put it in a safe! Give the second piece of paper your Cat/Dog.</p>
            <p style="color: red">No recovery possible!</p>
        {% endif %}
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=64) }}<br>
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.confirm_note }}{{ form.confirm_note.label }}<br>
            {% for error in form.confirm_note.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.confirm_no_recovery }}{{ form.confirm_no_recovery.label }}<br>
            {% for error in form.confirm_no_recovery.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}