{% extends "base.html" %}

{% block content %}
    <h1>Files</h1>
    <table>
        <tr>
            <th>Select</th>
            <th>Restore</th>
            <th>File name</th>
            <th>Snapshot ID</th>
            <th>Permissions</th>
            <th>Backup Datetime</th>
            <th>Delete</th>
        </tr>
    {% for file in files %}
        <tr>
            <td><label>
                <input type="checkbox">
            </label></td>
            <td>
                <a href="{{ url_for('main.restore_file', snapshot_id=file.snapshot_id, path=file.base_path, file_name=file.file_name) }}">
                    Restore
                </a>
            </td>
            <td>{{ file.file_name }}</td>
            <td>{{ file.snapshot_id }}</td>
            <td>{{ file.permissions }}</td>
            <td>{{ file.backup_datetime }}</td>
            <td>
                <a href="{{ url_for('main.delete_file', snapshot_id=file.snapshot_id, path=file.base_path, file_name=file.file_name) }}">
                    Delete
                </a>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}