{% extends "base.html" %}

{% block content %}
    <h1>Sync</h1>
    <form id="new_device" action="" method="post">
        {{ add_device_form.hidden_tag() }}
        <p>
            {{ add_device_form.device_id.label }}<br>
            {{ add_device_form.device_id(size=64) }}<br>
            {% for error in add_device_form.device_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ add_device_form.device_name.label }}<br>
            {{ add_device_form.device_name(size=64) }}<br>
            {% for error in add_device_form.device_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ add_device_form.submit() }}</p>
    </form>
    <form id="new_device_for_folder" action="" method="post">
        {{ device_to_folder_form.hidden_tag() }}
        <p>
            {{ device_to_folder_form.device_id.label }}<br>
            {{ device_to_folder_form.device_id(size=64) }}<br>
            {% for error in device_to_folder_form.device_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ device_to_folder_form.submit() }}</p>
    </form>
    <hr>
    <table>
        <tr>
            <th>file name</th>
            <th>size</th>
            <th>mod time</th>
        </tr>
    {% for file in files %}
        <tr>
            <td>{{ file.name }}</td>
            <td>{{ format_bytes(file.size) }}</td>
            <td>{{ file.modTime }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}