{% extends "base.html" %}

{% block content %}
    <h1>TOTP</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <img style="margin: 20px;" src="{{ qrcode(qr_code_text, error_correction='H', icon_img='icon.jpg', back_color='fff', fill_color='000')  }}" alt="qr-code-totp">
        <p>
            {{ form.setup_code.label }}<br>
            {{ form.setup_code(size=64) }}<br>
            {% for error in form.setup_code.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}